/* MARK: General
   -------------------------------------------------------------------------- */

.gt-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: var(--font-ui-smaller);

  & > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 0.5em;
  }

  dt {
    font-weight: bold;
    color: var(--text-muted);
  }

  dd {
    margin: 0;
  }
}

/* MARK: Tabs
   -------------------------------------------------------------------------- */

.gt-track {
  padding-block: 2em;
  padding-inline: 0.5em;

  &:has(.gt-chord) {
    padding-block-start: 4em;
  }
}

.gt-track > *:not(:last-child) {
  margin-bottom: 3em;
}

.gt-staff {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.gt-staff-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--background-modifier-border);
}

.gt-staff-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--background-modifier-border);
  z-index: 1;
}

.gt-measure {
  padding-inline: 1.5em;
  border-width: 0;
  border-inline-end-width: 1px;
  border-style: solid;
  border-color: var(--text-faint);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2em;
  position: relative;
  z-index: 2;
}

.gt-beat {
  margin-block-start: -0.35em;
  margin-block-end: -0.35em;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.75em;
  position: relative;
}

.gt-chord {
  position: absolute;
  top: -1.5em;
  left: calc(50% - 1em);
  transform: rotate(-45deg);
  transform-origin: top left;
  font-size: var(--font-ui-smaller);
  color: var(--text-faint);
  text-align: center;
  width: auto;
}

.gt-string {
  height: 1em;
  padding-inline: 0.25em;
  line-height: 1em;
  background-color: var(--background-primary);
  text-align: center;
  font-size: var(--font-ui-smaller);
  font-weight: bold;
  font-family: var(--font-monospace);
}

.gt-string:empty {
  padding: 0;
}

/* MARK: Chords
   -------------------------------------------------------------------------- */

.gt-chord-track {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.gt-diagrams {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;

  .gt-chord-diagram {
    width: 120px;
  }
}

.gt-chord-diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 0;
  padding: 0;

  figcaption {
    font-weight: bold;
    font-size: var(--font-ui-small);
  }
}
