/* MARK: General
   -------------------------------------------------------------------------- */

.gt-tab-track-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.gt-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: var(--font-ui-smaller);
  margin: 0;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 0.5em;
  }

  dt {
    font-weight: bold;
    color: var(--text-muted);
  }

  dd {
    margin: 0;
  }
}

/* MARK: Tabs
   -------------------------------------------------------------------------- */

.gt-tab-track {
  --gt-tab-background: var(--background-primary);
  --gt-tab-font-size: var(--font-ui-smaller);
  --gt-tab-font-family: var(--font-default);
  --gt-tab-font-weight: bold;
  --gt-tab-fill: var(--text-normal);
  --gt-tab-staff-line-fill: var(--text-faint);

  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-block: 1em;
}

/* MARK: Chords
   -------------------------------------------------------------------------- */

.gt-chord-track {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.gt-chord-diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.125em;
  margin: 0;
  padding: 0;

  figcaption {
    font-weight: bold;
    font-size: var(--font-ui-small);
  }
}

.gt-diagrams {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;

  .gt-chord-diagram {
    width: 120px;
  }
}
